* {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  font-family: "Climate Crisis", cursive;
}

h1 {
  text-align: center;
  margin: 10px 0px;
  font-family: "Climate Crisis", cursive;
}
.table {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid red;
  border-radius: 5px;
  width: 90%;
  margin: 10px auto;
  font-family: "Oswald", sans-serif;
}
tr {
}

td {
}
